.loading-animation-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.loading-animation {
    width: 100%;
    height: 21px;
    background: linear-gradient(90deg, white 0%, #1b7c60  100%);
    background-size: 200% 100%;
    animation: loading 1s linear infinite;
    border-radius: 10px;
    margin: 0.6em;
}

@keyframes loading {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@font-face {
    font-family: 'Pluto Sans Light';
    src: url('fonts/Pluto Sans Light.otf') format('opentype');
}

body {
    background-color: #f8f9fa;
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: #fff;
}

header .container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    max-height: 80px;
}

.container {
    flex: 1;
    max-width: 1200px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #1b7c60;
    font-family: 'Pluto Sans Light', Arial, sans-serif; /* Yeni fontu uygulayın */
}

.form {
    margin-bottom: 20px;
    position: fixed;
    bottom: 20px;
    width: calc(80% - 40px);
}

.textarea-container {
    position: relative;
    display: flex;
    align-items: center;
}

.textarea-container textarea {
    background-color: #f8f9fa;
    padding: 10px 50px 10px 20px; /* Sağ tarafta buton için yer bırakın */
    border: 1px solid #fff;
    border-radius: 26px;
    font-size: 18px;
    width: 100%;
    height: 40px;
    max-height: calc(1.2em * 10); /* 7 satır yüksekliği */
    resize: none;
    box-sizing: border-box;
    outline: none;
    overflow-y: hidden; /* Başlangıçta scroll bar yok */
    line-height: 1.2em; /* Satır yüksekliği */
    min-height: 1.2em; /* İlk satır yüksekliği */
    transition: height 0.2s ease;
    overflow-y: auto;
}

.textarea-container textarea::placeholder {
    text-align: start;
    display: flex;
    align-items: center;
    height: 100%; /* Placeholder'ı dikey ortalamak için */
    /* line-height: 100%; */
}

.submit-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    opacity: 0.3;
}

.submit-button.active {
    opacity: 1;
}

.submit-button img {
    max-width: 30px;
    max-height: 30px;
}

.result-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
    height: auto;
    max-height: 380px;
    overflow-y: auto;
    box-sizing: border-box;
    word-wrap: break-word;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
