<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEN AI Lawyer Simulation | Neova Katılım Sigorta A.Ş.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/favicon.png') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='image/Neova-Sigorta_Logo.png') }}" alt="Neova Sigorta Logo">
            </div>
            <h1 class="title">GEN AI Lawyer Simulation</h1>
        </div>
    </header>
    <div class="container">
        <form method="post" class="form">
            <div class="textarea-container">
                <textarea id="input_text" name="input_text" placeholder="Dava Metni" required></textarea>
                <button type="submit" class="submit-button" disabled>
                    <img src="{{ url_for('static', filename='image/output-onlinepngtools.png') }}" alt="Gönder">
                </button>
            </div>
        </form>
        <h3>Davacı Argümanları:</h3>
        <div class="result-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% if result1 %}
                <div class="result-content">{{ result1 | safe }}</div>
            {% endif %}
        </div>
    </div>
    <script>
        const inputText = document.getElementById('input_text');
        const submitButton = document.querySelector('.submit-button');

        inputText.addEventListener('input', () => {
            if (inputText.value.trim().length > 0) {
                submitButton.removeAttribute('disabled');
                submitButton.classList.add('active');
            } else {
                submitButton.setAttribute('disabled', 'disabled');
                submitButton.classList.remove('active');
            }

            // Otomatik genişleyen textarea
            inputText.style.height = 'auto';
            const maxHeight = parseInt(window.getComputedStyle(inputText).lineHeight) * 5;
            if (inputText.scrollHeight > maxHeight) {
                inputText.style.height = maxHeight + 'px';
                inputText.style.overflowY = 'scroll';
            } else {
                inputText.style.height = inputText.scrollHeight + 'px';
                inputText.style.overflowY = 'hidden';
            }
        });
    </script>
</body>
</html>
